* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    margin: 0 auto;
    width: 1200px;
}

header {
    width: 100%;
    height: 110px;
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
}

#head {
    height: 100%;
}

#head > div {
    display: block;
    float: left;
}

/* 헤더: 로고 */
#head > .logo {
    width: 150px;
    height: 100%;
}
/* 헤더: 로고 끝 */

/* 헤더: 검색, 메뉴 전체 설정 */
#head > .menu-box {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* 헤더: 검색, 메뉴 전체 설정 끝 */

/* 헤더: 전체 검색 창 */
.menu-box > .all-game-search form {
    margin-top: 5px;
    padding: 0 2px;
    width: 450px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-game-search > form > span > a {
    color: #CA6F1E;
}

.all-game-search > form > .allSearch {
    width: 400px;
    height: 100%;
    border: 2px solid #ffa353;
    outline: none;
    padding: 0 5px;
}
/* 헤더: 전체 검색 창 끝 */

/* 헤더: 메뉴 */
.menu-box > .main-menu {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.active {
    border-bottom: 2px solid #E67E22;
}

.main-menu > li {
    width: 25%;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
}

.main-menu > li > a {
    display: block;
    color: #000;
}

.main-menu > li:hover {
    border-bottom: 2px solid #E67E22;
}

.sub-menu {
    display: none;
    background-color: #E67E22;
    font-size: 15px;
    font-weight: 500;
}

.sub-menu > li > a {
    display: block;
    color: #fff;
}

.sub-menu > li > a:hover {
    color: #000;
}
/* 헤더: 메뉴 끝 */

/* 헤더: 로그인, 유저정보 틀 */
.login-info {
    width: 245px;
    height: 100%;
    border: 1px solid green;
}
/* 헤더: 로그인, 유저정보 틀 끝 */

/* 헤더: 로그인 */
.login-info > .login-box {
    margin: 0 auto;
    margin-top: 25px;
    width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ffa353;
    border-radius: 2px;
}

.login-box > a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
/* 헤더: 로그인 */

/* 헤더: 유저 정보 */
.user-info {
    width: 100%;
    height: 40px;
}

.user-info > div {
    float: left;
}

.user-info > .img-profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.user-info > .nick-name {
    width: 190px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

.nick-name > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
/* 헤더: 유저 정보 */